.pagination-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    margin:30px 0;
    margin-bottom:auto;

    .pagination-page{
        margin:0 15px;
        cursor: pointer;   
    }

    .current-page{
        font-weight: bold;
    }

    .pagination-arrow{
        margin:0 10px;
        cursor: pointer;
    }
}