.header-wrapper{
    display:flex;
    justify-content: space-between;
    background-color:white;
    border-radius:10px;
    height: 4rem;
    align-items: center;
    width:95%;
    margin:0 auto;
    margin-top:15px;

    .header-left-side{
        display:flex;
    }

    .header-logo{
        height: 50px;
        width: 50px;
        padding: 12px;
    }

    .header-brand{
        padding: 20px;
    }

    .header-features{
        display:flex;
        padding: 15px;
        margin-top: 15px;
    }
}