//-------------------------------------------------------------------------------Style desktop
body{
    background-color: rgb(247, 247, 247);
}

.musement-app{
    display: flex;
    flex-direction: column;
    height:100vh;

    .product-global-wrapper{
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
    }
}

//--------------------------------------------------------------------------------Responsive

@media(max-width:900px){
    .product-global-wrapper{
        display:flex;
        flex-direction:column;
        align-content: center;
    }
}