@font-face {
    font-family: 'Lato-Bold';
    src: url('../../font/Lato-Bold.ttf');
}
@font-face {
    font-family: 'Lato-Regular';
    src: url('../../font/Lato-Regular.ttf');
}

//-----------------------------------------------------------------------------------Style desktop
    
.product-wrapper{
    background-color: white;
    border-radius: 10px;
    height: 500px;
    width: 25%;
    margin: 25px 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 10px 10px 9px 0px rgba(179,179,179,1);
    position: relative;

    .product-star-wrapper{
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .product-star{
        z-index:1;
        width:30px;
        height:30px;
        border-style: solid;
        border-radius:15px;
        border-color:lightgray;
        background-color:white;
        border-width:1px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor:pointer;
        &:hover{
            background-color:rgb(240,240,240);
        }   
    }

    .yellow{
        background-color:rgb(252,252,145);       
    }

    .product-img-wrapper{
        width:80%;
        height:145px;
        overflow: hidden;
        margin-top:25px;
        margin-bottom:15px;

        .product-img{
            width:300px;
            height:145px;
            object-fit: cover;
        }
    }

    .product-title{
        font-family:"Lato-Bold";
        margin: 0 10px;
        font-size: 1.1rem;
        padding: 8px;
        text-align: center;
    }

    .product-description{
        font-family:"Lato-Regular";
        margin: 0px 30px;
        font-size: 0.7rem;
        padding: 8px;
        text-align: center;
        margin-bottom:auto;
    }

    .product-price{
        font-family:"Lato-Bold";
        font-size: 1.1rem;
        padding: 8px;
    }

    .product-button{
        display: flex;
        height: 40px;
        padding: 15px;
        border-radius: 20px;
        border-style: none;
        width: 75%;
        margin-bottom: 20px;
        justify-content: center;   
        align-items: center; 
        cursor:pointer;  
    }

    .add{
        background-color: #f1f1f1;
        box-shadow: 10px 10px 8px -6px rgba(179,172,179,1);

    }
    .cart{
        background-color: rgb(170, 221, 224);
        box-shadow: 10px 10px 8px -6px rgba(179,172,179,1);
    }
}

//-------------------------------------------------------------------------------------Responsive

@media(max-width:900px){
    .product-wrapper{
        width:35%;
    }
}

@media(max-width:750px){
    .product-wrapper{
        width:50%;
    }
}
@media(max-width:500px){
    .product-wrapper{
        width:60%;
    }
}